@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
  --bg-dark: #282828;
  --btn-player: #3bbbc8;
}
* {
  box-sizing :border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: var(--bg-dark) !important; /* Override BS */
  margin-bottom: 5em !important; /* Override BS */
  color: white !important;
}

.nav {
  background-color: #333;
  color: white;
  display : flex;
  justify-content : space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display : flex;
  align-items: center;
  padding: 0.25rem;
}

.nav ul {
  padding: 0;
  margin : 0;
  list-style: none;
  display : flex;
  gap: 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav li.active {
  background-color: #555;
}
.nav li:hover {
  background-color: #777;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap : 0.5rem;
  padding : 1rem;
}

.label {
  width: 100%;
  justify-content: center;
  display: flex;
}
.input {
  display : flex;
  align-items: end;
  justify-content: end;
}

/* ------------- */
/*  MusicPlayer  */
/* ------------- */

/*
#timeline {
  width: 90%;
  height: 2px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

*/
.audio-player {
  /* Styling du conteneur du lecteur */
}
.music-player {
  color: white;
}

.music-player > div {
  max-width: 500px;
}

.music-player .active {
  background: var(--btn-player);
  border-radius: 100%;
  color: white;
}

.controls {
  margin-top: 3vh;
  margin-inline: 2vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.control-btn {
  margin-top: 3vh;
}
.timeline {
  width: 100%;
  height: 4px;
  background-color: #ccc;
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}
.timer {
  margin: 0 10px 10px;
}

.progress {
  height: 3px !important;
  background-color: #1DB954  !important;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}
.img-player {
  height: 50vh;
  border-radius: 5px 5px 5px 5px;
}
.check {
  display: flex;
  align-items: center;
  justify-content: center;
  width : 10%
}
.music-player i {
  color: var(--btn-player);
  padding: 0.4em 0.5em;
  font-size: 1.5em;
}
.music-player i:hover {
  cursor: pointer;
}

/* ----- */

.music-player form {
  position: absolute;
  z-index: 999;
}
.music-player select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20em;
  height: 3em;
  padding: 0 1em;
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: #8787877a;
  position: relative;
}
.music-player .actions {
  position: relative;
}

/* .music-player form::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 0;
} */
.music-player select option {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/* .music-player form::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
} */
.music-player select:focus {
  outline: none;
}
.music-player select::-ms-expand {
  display: none;
}

/* ----- */


.loop {
  transform: rotate(0);
  animation: loop 2s linear infinite;
}

@keyframes loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}


/* -------- */
/*  Slider  */
/* -------- */

.slider-area{
  padding-top: 20vh;
  margin-bottom: 2vh;
}
.site-title{
  margin-bottom: 10px;

}
.slider-bg{
  padding-top: 6vh;
  padding-bottom: 4vh;
  background-color: #555856;
  color : white;
  padding: 1rem;

}
.slider {
  display: flex;
}
.slider-container {
  overflow-x: auto;
  white-space: nowrap;
}

.slider-music-component{
  padding : 1rem;

}
.slider-music-title{

}

/* ------------ */
/*  MyPlaylist  */
/* ------------ */
.MyPlayslist-body{
  background-color: #b8b8b8;
}
.playlist-page {
  text-align: center;
}
.playlist-page > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
.playlist-page > div:first-child h2 {
  display: inline-block;
}

.playlist-page > div:first-child i.fa-pen-to-square:hover {
  cursor: pointer;
  color: blue;
}

.playlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5vw;
}

.playlist-item {
  width: calc(50% - 10px); /* 10px pour gérer les marges entre les éléments */
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.playlist-image {
  width: 100%;
  max-height: 150px; /* Taille d'image fixe */
  object-fit: cover;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 4px rgba(0, 0, 0, 0.1); 

}

.playlist-title {
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Tronquer le texte avec trois petits points */
  max-width: 90%; /* Pour éviter que le titre ne soit trop large */
}

/* ------------------ */
/*  DetailedPlayList  */
/* ------------------ */
.music-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.music-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0 25px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.music-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.music-title {
  font-size: 18px;
  margin: 0;
}
.music-author {
  color: #666;
  margin: 0;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.modal {
  /* position: absolute; */
  width: 500px;
  height: 250px;
  background-color: #1DB954;
}
.music-track {
  position: relative;
}
.btn-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0;
  background: none;
  border: 0;
}
.btn-container i {
  font-size: 35px;
  background: white;
  border-radius: 100%;
}
.btn-container i.fa-circle-play {
  color: #00806f;
}
.btn-container i.fa-circle-stop {
  color: red;
}
.btn-container i.fa-circle-play:hover,
.btn-container i.fa-circle-stop:hover {
  cursor: pointer;
}
.music-item > div:nth-child(2) {
  width: 40%;
}
i.fa-xmark {
  color: white;
  background: red;
  border-radius: 20%;
  padding: 5px;
  font-size: 20px;
}
i.fa-xmark:hover {
  cursor: pointer;
}
.hidden {
  display: none !important;
}

.music-bars {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.bar {
  background: transparent;
  height: 3px;
  flex-grow: 1;
}
.animated {
  background: #666;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px; 
  }
  100% {
    opacity: 1;       
    height: 28px;        
  }
}

.bar:nth-child(1)  { animation-duration: 474ms; }
.bar:nth-child(2)  { animation-duration: 433ms; }
.bar:nth-child(3)  { animation-duration: 407ms; }
.bar:nth-child(4)  { animation-duration: 458ms; }
.bar:nth-child(5)  { animation-duration: 400ms; }
.bar:nth-child(6)  { animation-duration: 427ms; }
.bar:nth-child(7)  { animation-duration: 441ms; }
.bar:nth-child(8)  { animation-duration: 419ms; }
.bar:nth-child(9)  { animation-duration: 487ms; }
.bar:nth-child(10) { animation-duration: 442ms; }
.bar:nth-child(11)  { animation-duration: 474ms; }
.bar:nth-child(12)  { animation-duration: 433ms; }
.bar:nth-child(13)  { animation-duration: 407ms; }
.bar:nth-child(14)  { animation-duration: 458ms; }
.bar:nth-child(15)  { animation-duration: 400ms; }
.bar:nth-child(16)  { animation-duration: 427ms; }
.bar:nth-child(17)  { animation-duration: 441ms; }
.bar:nth-child(18)  { animation-duration: 419ms; }
.bar:nth-child(19)  { animation-duration: 487ms; }
.bar:nth-child(20) { animation-duration: 442ms; }



/* ---------- */
/*  Dashboard */
/* ---------- */
.dashboard {
  color: white;
}
.dashboard button {
  color: white;
}
.dashboard img {
  object-fit: cover;
}

.dashboard .actions i:hover {
  cursor: pointer;
}

.dashboard .nav li:hover {
  background-color: transparent;
}