* {
  box-sizing :border-box;
}

body {
  margin : 0;
}

.nav {
  background-color: #333;
  color: white;
  display : flex;
  justify-content : space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display : flex;
  align-items: center;
  padding: 0.25rem;
}

.nav ul {
  padding: 0;
  margin : 0;
  list-style: none;
  display : flex;
  gap: 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav li.active {
  background-color: #555;
}
.nav li:hover {
  background-color: #777;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap : 0.5rem;
  padding : 1rem;
}

.label {
  width: 100%;
  justify-content: center;
  display: flex;
}
.input {
  display : flex;
  align-items: end;
  justify-content: end;
}

/* ------------- */
/*  MusicPlayer  */
/* ------------- */

/*
#timeline {
  width: 90%;
  height: 2px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

*/
.audio-player {
  /* Styling du conteneur du lecteur */
}

.controls {
  margin-top: 3vh;
  margin-inline: 2vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.control-btn {
  margin-top: 3vh;
}

.timeline {
  width: 100%;
  height: 4px;
  background-color: #ccc;
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}
.timer{
  margin: 0 10px 10px;
}

.progress {
  height: 3px !important;
  background-color: #1DB954  !important;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}
.img-player{
  height: 40vh;
  border-radius: 5px 5px 5px 5px;
}
.check {
  display: flex;
  align-items: center;
  justify-content: center;
  width : 10%
}

/* -------- */
/*  Slider  */
/* -------- */

.slider-area{
  padding-top: 20vh;
  margin-bottom: 2vh;
}
.site-title{
  margin-bottom: 10px;

}
.slider-bg{
  padding-top: 6vh;
  padding-bottom: 4vh;
  background-color: #1DB954;

}
.slider {
  display: flex;
}
.slider-container {
  overflow-x: auto;
  white-space: nowrap;
}

.slider-music-component{

}
.slider-music-title{

}

/* ------------ */
/*  MyPlaylist  */
/* ------------ */
.MyPlayslist-body{
  background-color: #b8b8b8;
}
.playlist-page {
  text-align: center;
}

.playlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5vw;
}

.playlist-item {
  width: calc(50% - 10px); /* 10px pour gérer les marges entre les éléments */
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.playlist-image {
  width: 100%;
  max-height: 150px; /* Taille d'image fixe */
  object-fit: cover;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 4px rgba(0, 0, 0, 0.1); 

}

.playlist-title {
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Tronquer le texte avec trois petits points */
  max-width: 90%; /* Pour éviter que le titre ne soit trop large */
}

/* ------------------ */
/*  DetailedPlayList  */
/* ------------------ */
.music-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.music-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0 25px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.music-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.music-title {
  font-size: 18px;
  margin: 0;
}
.music-author {
  color: #666;
  margin: 0;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.modal {
  /* position: absolute; */
  width: 500px;
  height: 250px;
  background-color: #1DB954;

}