@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
  --bg-dark: #192020;
  --btn-player: #FFF;
  --dark-blue-1: #1c222e;
  --dark-blue-2: #4E6480;
  --dark-blue-3: #182F4D;
  --dark-blue-4: #1f2833;
  --dark-blue-5: #1f4370;
  --medium-blue: #7CA0CC;
  --red-warning: #c30000;
  --light-blue: #00b8ff;
  --link-hover: #262f40;
}

/* ------ */
/* Common */
/* ------ */
* {
  box-sizing :border-box;
  font-family: 'Quicksand', sans-serif;
}
body {
  background-color: var(--dark-blue-4) !important; /* Override BS */
  color: white !important; /* Override BS */
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.homepage {
  flex: 1;
}
h1 {
  margin-bottom: 1em !important; /* Override BS */
  margin-top: 1em !important; /* Override BS */
  text-align: center;
}
.main-nav {
  background-color: var(--dark-blue-1);
}
.main-nav li {
  transition: background-color 0.2s;
}
.main-nav li.active {
  background-color: #555;
}
.main-nav li:hover {
  background-color: var(--link-hover);
}

/* ------------ */
/* ModalMessage */
/* ------------ */
.modal-message {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  padding: 1em 2em;
  border: 1px solid;
  border-radius: 5%;
  background: var(--dark-blue-1);
  z-index: 15;
}
.form-blocker {
  opacity: 0.4;
  background: black;
  z-index: 10;
}

/* -----  */
/* Loader */
/* ------ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----------- */
/* Burger Menu */
/* ----------- */
.menu-burger {
  top: 67px;
}
.menu-burger > li {
  height: 60px !important;
  background-color: var(--link-hover);
}
.menu-button-container {
  width: 30px;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg);
}
.burger-blocker {
  z-index: 15;
  background: var(--dark-blue-4);
}
#menu-toggle ~ .menu-burger {
  opacity: 0;
}
#menu-toggle ~ .menu-burger li {
  height: 0;
  margin: 0;
  padding: 0;
  /* transition: opacity 2s ease-in-out; */
  opacity: 0;
}
#menu-toggle:checked ~ .menu-burger {
  opacity: 1;
}
#menu-toggle:checked ~ .menu-burger li {
  border-bottom: 1px solid #ffffff8a;
  height: 2.5em;
  padding: 0.5em;
  opacity: 1;
}
.menu-burger-container,
.menu-burger {
  z-index: 20;
}
.menu-burger-container.open-burger-menu {
  position: fixed;
  top: 30px;
  right: 10px;
}
.menu-burger a,
.menu-burger .logout {
  font-size: 1.1em;
  gap: 0 10px;
}
.menu-burger-container
.menu-burger > li:first-child {
  border-top: 1px solid #ffffff8a;
}
.logout:hover {
  cursor: pointer;
}
.site-title {
  font-size: 2rem;
}

/* --------- */
/* FormMusic */
/* --------- */
.music-form form {
  max-width: 350px;
  margin: 0 auto;
}
.music-form .tags-items > div {
  width: 100px;
}
.music-form .tags-items > div:hover label {
  cursor: pointer;
  background-color: var(--link-hover);
}
.music-form .tags-items label {
   border: 1px solid #ffffff3d;
}
.music-form .tags-items input:checked + label {
  background-color: var(--dark-blue-5);
  border: 1px solid white;
}

/* ------------- */
/*  MusicPlayer  */
/* ------------- */
.music-player h2 {
  font-size: 1.3em;
}
.music-player h3 {
  font-size: 1.1em;
}
.music-player > div {
  max-width: 430px;
  border-radius: 1%;
}
.music-player .active {
  background: #008b8b;
  border-radius: 100%;
}
.music-player .control-btn {
  margin-top: 3vh;
}
.music-player .timeline {
  width: 100%;
  height: 3px;
  background-color: white;
  position: relative;
  cursor: pointer;
}
.music-player .timer {
  margin-bottom: 10px;
}
.music-player .progress {
  height: 3px !important;
  background-color: var(--light-blue) !important;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}
.music-player i {
  color: var(--btn-player);
  padding: 0.4em 0.5em;
  font-size: 1.2em;
}
.music-player i.fa-pause, 
.music-player i.fa-play {
  font-size: 1.9em;
  position: relative;
  width: 54px;
  height: 54px;
}
.music-player i.fa-play {
  border-radius: 10%;
  background: darkcyan;
}
.music-player i.fa-rotate-left,
.music-player i.fa-shuffle {
  border-radius: 100%;
  width: 38px;
  height: 38px;
  position: relative;
}
.music-player i.fa-rotate-left::before,
.music-player i.fa-shuffle::before,
.music-player i.fa-play::before,
.music-player i.fa-pause::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.music-player i:hover {
  cursor: pointer;
}
.music-player .fa-heart {
  color: var(--red-warning);
}
.music-player .playlist-modal {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  background: var(--dark-blue-4);
  text-align: center;
  color: white;
  border-radius: 5%;
  min-width: 165px;
}
.music-player .playlist-modal p {
  background: var(--dark-blue-1);
  padding: 1em;
  margin: 0;
  border-radius: 15% 15% 0 0;
}
.music-player .playlist-modal i {
  color: var(--red-warning);
  font-size: 20px;
}
.music-player .playlist-modal > div {
  padding: 0.5em;
}
.music-player .playlist-modal > div:hover {
  cursor: pointer;
  background-color: #3e3e3e;
}
.music-player .loop {
  transform: rotate(0);
  animation: loop 2s linear infinite;
}
.music-player .actions {
  background: white;
}
.music-player .actions i.fa-circle-plus,
.music-player .actions i.fa-share {
  color: var(--dark-blue-5);
}

@keyframes loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* -------- */
/*  Slider  */
/* -------- */
.slider {
  display: flex;
  background-color: darkcyan;
  height: 300px;
}
.slider-container {
  overflow-x: auto;
  white-space: nowrap;
  background-color: darkcyan;
}
.slider-music-component > div > img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
}
.slider-music-component {
  padding : 1rem;
  height: auto;
}
.slider-music-title {
  font-size: large;
  font-style: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

/* ------------ */
/*  MyPlaylist  */
/* ------------ */
.my-playlist .playlist-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}
.my-playlist .playlist-item i.fa-xmark {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 100%;
  font-size: 1.3em;
  background: var(--red-warning);
  color: white;
  padding: 0.3em;
  z-index: 10;
  height: 30px;
}
.my-playlist .playlist-item i.fa-xmark:hover {
  cursor: pointer;
}
.my-playlist .playlist-image {
  width: 100%;
  max-height: 150px; /* Taille d'image fixe */
  height: 100%;
  object-fit: cover;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #80808054;
  /* box-shadow: 5px 5px 20px 4px rgba(0, 0, 0, 0.1);  */
}
.my-playlist .playlist-title {
  background: white;
  color: black;
  padding: 0.2em 0;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 0 0 5px 5px;
}

/* ------------------ */
/*  DetailedPlayList  */
/* ------------------ */
.detailed-playlist h2 {
  font-size: 1.2em;
}
.detailed-playlist .edit-btn:hover {
  cursor: pointer;
}
.detailed-playlist .music-list {
  max-width: 800px;
}
.detailed-playlist .music-list > .music-item:nth-child(2n) {
  background: var(--dark-blue-1);
}
.detailed-playlist .music-list > .music-item:nth-child(2n + 1) {
  background: var(--dark-blue-2);
}
.detailed-playlist .music-details a {
  color: white;
}
.detailed-playlist .modal-window {
  display: flex;
  margin: 1em 0;
  justify-content: center
}
.detailed-playlist .music-list .music-item:first-child {
  border-top: 1px solid;
}
.detailed-playlist .music-item {
  gap: 0 25px;
  border-bottom: 1px solid #ccc;
}
.detailed-playlist .music-image {
  border-radius: 8px;
}
.detailed-playlist .music-track {
  /* position: relative; */
}
.detailed-playlist .btn-container {
  position: absolute;
  bottom: -5px;
  right: -15px;
  padding: 0;
  background: none;
  border: 0;
}
.detailed-playlist .btn-container i {
  font-size: 35px;
  background: white;
  border-radius: 100%;
}
.detailed-playlist .btn-container i.fa-circle-play {
  color: #00806f;
}
.detailed-playlist .btn-container i.fa-circle-stop {
  color: var(--red-warning);
}
.detailed-playlist .btn-container i.fa-circle-play:hover,
.btn-container i.fa-circle-stop:hover {
  cursor: pointer;
}
.detailed-playlist .music-item > div:nth-child(2) {
  width: 40%;
}
.detailed-playlist i.fa-xmark {
  color: white;
  background: var(--red-warning);
  border-radius: 20%;
  padding: 5px;
  font-size: 20px;
}
.detailed-playlist i.fa-xmark:hover {
  cursor: pointer;
}
.detailed-playlist .hidden {
  display: none !important;
}
.detailed-playlist .music-bars {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.detailed-playlist .bar {
  background: transparent;
  height: 3px;
  flex-grow: 1;
}
.detailed-playlist .animated {
  background: var(--light-blue);
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px; 
  }
  100% {
    opacity: 1;       
    height: 28px;        
  }
}

.bar:nth-child(1)  { animation-duration: 474ms; }
.bar:nth-child(2)  { animation-duration: 433ms; }
.bar:nth-child(3)  { animation-duration: 407ms; }
.bar:nth-child(4)  { animation-duration: 458ms; }
.bar:nth-child(5)  { animation-duration: 400ms; }
.bar:nth-child(6)  { animation-duration: 427ms; }
.bar:nth-child(7)  { animation-duration: 441ms; }
.bar:nth-child(8)  { animation-duration: 419ms; }
.bar:nth-child(9)  { animation-duration: 487ms; }
.bar:nth-child(10) { animation-duration: 442ms; }
.bar:nth-child(11)  { animation-duration: 474ms; }
.bar:nth-child(12)  { animation-duration: 433ms; }
.bar:nth-child(13)  { animation-duration: 407ms; }
.bar:nth-child(14)  { animation-duration: 458ms; }
.bar:nth-child(15)  { animation-duration: 400ms; }
.bar:nth-child(16)  { animation-duration: 427ms; }
.bar:nth-child(17)  { animation-duration: 441ms; }
.bar:nth-child(18)  { animation-duration: 419ms; }
.bar:nth-child(19)  { animation-duration: 487ms; }
.bar:nth-child(20) { animation-duration: 442ms; }

/* -------*/
/* Search */
/* ------ */
.search-page .result-grid {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 20px;
  justify-content: center;
}
.search-page h2,
.search-page h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  margin: 0 auto 0.5rem auto;
}
.search-page h2 {
  font-size: 1.1em;
}
.search-page h3 {
  font-size: 1em;
}

.search-page .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  color: white;
  padding: 7px 0;
  background: transparent;
  /* transition:  ; */
}

.search-page .form__field-span::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: -5px;
  left: 10px;
  font-size: 1.3em;
}
.search-page input[type="checkbox"]:hover {
  cursor: pointer;
}
.search-page .form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #002d66, #00a8b9);
  border-image-slice: 1;
}

/* reset input */
.search-page .form__field:required,
.search-page .form__field:invalid {
  box-shadow:none; 
}

/* Toggle specific styles */
.toggle {
	align-items: center;
	border-radius: 100px;
	display: flex;
	font-weight: 700;
	margin-bottom: 16px;
}
.toggle:last-of-type {
  margin: 0;
}

/* Since we can't style the checkbox directly, we "hide" it so we can draw the toggle. */
.toggle__input {
	height: 24px;
	position: absolute;
	white-space: nowrap;
	width: 58px;
  z-index: 10;
  bottom: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* This style sets the focus ring. The ":not([disabled])" prevents the focus ring from creating a flash when the element is clicked. */
.toggle__input:not([disabled]):active + .toggle-track,
.toggle__input:not([disabled]):focus + .toggle-track {
  border: 1px solid transparent;
}
.toggle-track {
	background: white;
	border: 1px solid white;
	border-radius: 100px;
	cursor: pointer;
	display: flex;
	height: 24px;
  width: 58px;
	position: relative;
}
.toggle-indicator {
	align-items: center;
	background: var(--dark-blue-1);
	border-radius: 100%;
	bottom: 1px;
	display: flex;
	height: 20px;
	justify-content: center;
	left: 3px;
	position: absolute;
	transition: all 0.5s;
	width: 20px;
}
.toggle__input:checked + .toggle-track .toggle-indicator {
	background: darkcyan;
  border-radius: 100%;
	transform: translateX(30px);
}
.toggle__input:checked + .toggle-track .toggle-indicator .checkMark {
  opacity: 1;
  /* transition: opacity 2 ease-in-out; */
}

/* --------- */
/* Dashboard */
/* --------- */
.dashboard {
  margin-bottom: 8.5em;
}
.dashboard .nav-item button:hover {
  color: var(--medium-blue);
}
.dashboard thead tr {
  background: var(--dark-blue-2);
}
.dashboard tbody tr {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.dashboard table tbody td {
  background: var(--dark-blue-1);
}
.dashboard table tbody > tr:nth-child(2n) td {
  background: var(--dark-blue-2);
}
.dashboard button {
  color: white;
}
.dashboard .actions i.fa-pen-to-square {
  color: var(--light-blue);
}
.dashboard .actions i.fa-trash {
  color: var(--red-warning);
}
.dashboard .actions i:hover {
  cursor: pointer;
}
.dashboard .new-music-icon {
  position: fixed;
  bottom: 50px;
  right: 3%;
}
.dashboard .fa-circle-plus {
  font-size: 2em;
}
.dashboard .nav li:hover {
  background-color: transparent;
}

/* ------------ */
/* SecondaryNav */
/* ------------ */
.secondary-nav {
  background: var(--dark-blue-1);
}
.secondary-nav ul i {
  font-size: 1.2em;
}

/* --------- */
/*  AboutUs  */
/* --------- */
.about-us > div {
  max-width: 500px;
  margin: 0 auto;
}

/* -------- */
/*  Footer  */
/* -------- */
footer {
  margin-top: 2em;
  border-top: 1px solid;
  background-color: var(--dark-blue-1);
}
footer > div {
  width: 300px;
  margin: 0 auto;
}

/* ========================== */
/* ======= Responsive ======= */
/* =========================- */

@media screen and (max-width: 400px) {
  /* --------- */
  /* FormMusic */
  /* --------- */
  .music-form form {
    padding: 0 1em;
  }
  .music-form .tags-container > p {
    text-align: center;
  }
  .music-form .tags-items {
    justify-content: center !important;
  }

  /* ------------ */
  /*  MyPlaylist  */
  /* ------------ */
  .my-playlist .playlist-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* -------*/
  /* Search */
  /* ------ */
  .search-page .result-grid {
    grid-template-columns: repeat(1, 100%);
  }
}

@media screen and (min-width: 576px) {
  /* --------- */
  /* Dashboard */
  /* --------- */
  .dashboard {
    margin-bottom: 3.5em;
  }
  .dashboard .new-music-icon {
    position: fixed;
    bottom: 25px;
    right: 3%;
  }

  /* ------------- */
  /*  MusicPlayer  */
  /* ------------- */
  .music-player > div {
    margin: 2em 0;
    border: 1px solid;
    background-color: var(--dark-blue-1);
  }
}

@media screen and (min-width: 650px) { 
  /* ------------ */
  /*  MyPlaylist  */
  /* ------------ */
  .my-playlist .playlist-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
  /* -------*/
  /* Search */
  /* ------ */
  .search-page .result-grid {
    grid-template-columns: repeat(3, 31%);
  }
}

@media screen and (min-width: 768px) {
  /* ------------ */
  /*  MyPlaylist  */
  /* ------------ */
  .my-playlist .playlist-container {
    grid-template-columns: repeat(4, 1fr);
  }

  /* -------*/
  /* Search */
  /* ------ */
  .search-page .result-grid {
    grid-template-columns: repeat(4, 23%);
  }
}

@media screen and (min-width: 1000px) {
  /* ------------ */
  /*  MyPlaylist  */
  /* ------------ */
  .my-playlist .playlist-container {
    grid-template-columns: repeat(5, 1fr);
  }

  /* -------*/
  /* Search */
  /* ------ */
  .search-page .result-grid {
    grid-template-columns: repeat(5, 18%);
  }
}

@media screen and (min-width: 1200px) {
  /* ------------ */
  /*  MyPlaylist  */
  /* ------------ */
  .my-playlist .playlist-container {
    grid-template-columns: repeat(6, 1fr);
  }

  /* -------*/
  /* Search */
  /* ------ */
  .search-page .result-grid {
    grid-template-columns: repeat(6, 15%);
  }
}